@page
@model Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form method="post">
        <p>Room number: <input asp-for="RoomNumber" /></p>
        <p>Capacity: <input asp-for="RoomMaxCapacity" /></p>
        <p>Price from <input asp-for="RoomPriceFrom" /> to <input asp-for="RoomPriceTo" /></p>
        <p>Description: <input asp-for="RoomDetailDescription" /></p>
        <input type="submit" value="Search" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomMaxCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomPricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoomInformation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomMaxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
            </td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-page="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-page="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
