@page
@model Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form method="post">
        <p>Search by name: </p>
        <input asp-for="CustomerName" />
        <input type="submit" value="Search" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Fullname</th>
            <th>Telephone</th>
            <th>Birthday</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerList)
        {
            <tr>
                <td>
                    @item.EmailAddress
                </td>
                <td>
                    @item.CustomerFullName
                </td>
                <td>
                    @item.Telephone
                </td>
                <td>
                    @if (item.CustomerBirthday.HasValue)
                    {
                        @item.CustomerBirthday.Value.ToShortDateString()
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
